<h3>Properties</h3>
<div>
<label for="properties.type">
  Type: <input type="text" name="properties.type">
</label>
</div>

<div>
<label for="properties.title">
  Title: <input type="text" name="properties.title">
</label>
</div>

<div>
<label for="properties.description">
  Description: <textarea name="properties.description"></textarea>
</label>
</div>

<div>
<label for="properties.address">
  Address: <input type="text" name="properties.address">
</label>
</div>

<div>
<label for="properties.zip_code">
  ZIP code: <input type="text" name="properties.zip_code">
</label>
</div>

<h3>Geometry</h3>
<div>
<label for="geometry.type">
  Type: <input type="text" name="geometry.type">
</label>
</div>

<div>
<label for="gemoetry.coordinates">
  Coordinates:<br/>
  <textarea name="geometry.coordinates"></textarea>
</label>
</div>
