   <div id='toggleFullscreen' class='uiButton'>X</div>
   <div id='toggleMiniMap' class='uiButton'>M</div>
   <div id='coordsMapCenter' class='uiDisplay'>N {{shortPos map.lat}}, E {{shortPos map.lon}}</div>
   <div id='geobar'>
    <!-- FIXME: show modal window with search options -->
    <div id='geobarOptions' class='uiButton'>Options</div>
    <div id='geobarContainer' class='uiDisplay'>
     <!-- FIXME: make the search functional -->
     <input type='search' id='geobarQuery' placeholder='find stuff in DSpace' x-webkit-speech />
    </div>
    <div id='geobarButton' class='uiButton'>GO</div>
   </div>
   <div id='toggleFeatureBox' class='uiButton'>B</div>
   <!-- FIXME: show name over the FeatureCollection -->
   <div id='featureOptions' class='uiDisplay'>Hackerspaces in Munich</div>
