<div id='toggleFullscreen' class='uiButton'>⇱</div>
<div id='toggleMiniMap' class='uiButton'>M</div>
<div id='userOptions' class='uiButton'>⚙</div>
<div id='userMode' class='uiButton'>✈</div>
<div id='toggleFeatureBox' class='uiButton'>⛁</div>
