   <div id='toggleFullscreen' class='uiButton'>X</div>
   <div id='toggleMiniMap' class='uiButton'>M</div>
   <div id='coordsMapCenter' class='uiDisplay'>{{renderPos map.lat  map.lon}}</div>
   <div id='toggleFeatureBox' class='uiButton'>B</div>
   <!-- FIXME: show name over the FeatureCollection -->
   <div id='featureOptions' class='uiDisplay'>Hackerspaces in Munich</div>
