<div class="featureBoxTabs">
  {{#tabs}}
  <div class="tab" data-tab="{{index}}" alt='{{feed.title}}' style='background-image: url(design/icons/black-shield-{{index}}.png);'></div>
  {{/tabs}}
</div>

