<div class="menuItem" data-command="center-map">Recenter Map</div>
<div class="menuItem" data-command="add-pin">Add Pin</div>
<div class="menuItem" data-command="add-feature">Add Feature</div>
<div class="menuItem" data-command="jump-to-me">Where am I?</div>
