   <div id='userModeWalk' class='uiButton'>W</div>
   <div id='userModeDrive' class='uiButton'>D</div>
   <div id='coordsGeoLocation' class='uiDisplay'>{{user.geoLocation.coords.latitude}}, {{user.geoLocation.coords.longitude}}</div>
   <div id='systemStatus' class='uiDisplay'>%</div>
   <div id='userOptions' class='uiButton'>U</div>
