   <div id='userModeWalk' class='uiButton'>W</div>
   <div id='userModeDrive' class='uiButton'>D</div>
   <div id='coordsGeoLocation' class='uiDisplay'>N 48.201, E 11.037</div>
   <div id='systemStatus' class='uiDisplay'>%</div>
   <div id='userOptions' class='uiButton'>U</div>
