   <!-- FIXME: show User Settings here -->
   <h2>User Options</h2>
   <div class='modalContainer'>
    <div>
     <h3>Coordinates</h3>
      <form>
      <input type='radio' name='userPrefCoords' value='GPS'> GPS ( N 48° 11.123')
      <input type='radio' name='userPrefCoords' value='QTH'> QTH ( JN58SE )
      <input type='radio' name='userPrefCoords' value='DMS'> DMS ( N 48° 11' 451")
      <input type='radio' name='userPrefCoords' value='DEC'> DEC ( N 48.1121212)
      </form>
    </div>
   </div>
