<!doctype html>
<html lang='en'>
<head>
 <title>DSpace</title>
 <meta charset='utf-8'/>
 <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
 <meta name='apple-mobile-web-app-status-bar-style' content='black'/>
 <meta name='apple-mobile-web-app-capable' content='yes'/>
 <link href='assets/css/dspace-client.css?##HASHTAG##' rel='stylesheet'/>
 <script type="text/javascript" src="http://194.150.168.83:5000/dspace/faye/client.js"></script>
 <script src='assets/dspace-client.js?##HASHTAG##'></script>
</head>
<body>

  <div id='map' class='map' oncontextmenu='javascript: return false;'></div>
  <div id='ui'>
    <div id='mapContext' class='uiContext' oncontextmenu='javascript: return false;'></div>
    <div id='markerContext' class='uiContext' oncontextmenu='javascript: return false;'></div>
    <div id='topBaffle' class='baffle full-ui'></div>
    <div id='bottomBaffle' class='baffle full-ui'>
     <div id='widgetBar'>
     </div>
    </div>
    <div id='statusPanel' class='uiPanel'></div>
    <div id='mapControl' class='uiPanel simple-mobile'>
      <div id='zoomOut'></div>
      <div id='zoomIn'></div>
    </div>
    <div id='controlPanel' class='uiPanel full-ui'>
      <div id='toggleFullscreen' class='uiButton'>⇱</div>
      <div id='toggleMiniMap' class='uiButton'>M</div>
      <div id='userOptions' class='uiButton'>⚙</div>
      <div id='userMode' class='uiButton'>✈</div>
      <div id='toggleSideBar' class='uiButton'>⛁</div>
    </div>
    <div id='modal' class='uiModal'>
      <div id='closeModal' class='uiButton'>&times;</div>
      <div id='modalContent'></div>
    </div>
    <div id='widgetModal' class='uiWidgetModal'></div>
    <div id='sidebar' class='full-ui'>
     <div id='featureBox'></div>
    </div>
    <div id='miniMap' class='full-ui'><div id='mmViewport'></div></div>
  </div>
  <div id='splash'><h1>DSpace</h1><p class='loader'>Client loading...</p></div>

</body>
</html>
