.uiButton {
  border: 1px solid #999;
  font: 12px/1.3 "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
  cursor: pointer;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.uiDisplay {
  color: #e8e5de;
  font-size: 12px;
  border: 1px solid #000;
  cursor: default;
  text-shadow: 1px 1px 5px #000;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.65) 0%,rgba(40,40,40,0.3) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.uiModal {
  position:absolute;
  top:60px;
  left:8px;
  z-index:999;
  opacity: 0;
  width:550px;
  height: 380px;
  display: block;
  text-align: center;
  border: 1px solid #afafaf;
  padding-top: 0;
  overflow: hidden;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,0.8)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -webkit-border-radius:5px;
  border-radius: 5px;

}

.uiModal h2 {
  text-align: left;
  padding-left: 10px;
  width: 540px;
  background: #ccc;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #000;
  background:  #3f3e3a; background-image: url(../images/panel_bg.png);
  color: #e8e5de;
  text-shadow: 1px 1px 5px #000;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}


/*********************************************************
 *  Status Panel
 *********************************************************/

#statusPanel {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 999;
  width: 100%
}

#statusPanel div {
  cursor: arrow;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
}

#systemStatus {
  width: 30px;
  margin-right: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#userModeWalk {
  width: 30px;
  border-right: 1px solid #666;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#userModeDrive {
  width: 30px;
  margin-right: 8px;
  border-left: 1px solid #ccc;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#coordsGeoLocation {
  width: 130px;
  margin-right: 8px;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#userOptions {
  width: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/*********************************************************
 *  Control Panel
 *********************************************************/

#controlPanel {
  position: absolute;
  text-align: center;
  top: 8px;
  left: 8px;
  z-index: 999;
  width: 100%;
}

#controlPanel div {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#toggleFullscreen {
  float: left;
  width: 30px;
  border-right: 1px solid #999;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#toggleMiniMap {
  float: left;
  width: 30px;
  margin-right: 8px;
  border-left: 1px solid #ddd;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#coordsMapCenter {
  float: left;
  width: 130px;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#geobar {
  display: inline-block;
}

#geobarOptions {
  float: left;
  width: 60px;
  border-right: 1px solid #999;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#geobarContainer {
  float: left;
  border: 1px solid #999;
  border-left: 1px solid #eee;
  background: #fff;
  padding-right: 5px;
  padding-left: 5px;
}

#geobarContainer input {
  border: 0;
  width: 220px;
  height: 28px;
}

#geobarButton {
  float: left;
  width: 32px;
  border-left: 1px solid #ddd;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#featureOptions {
  float: right;
  width: 225px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#toggleFeatureBox {
  float: right;
  width: 30px;
  margin-right: 20px;
  border-left: 1px solid #eee;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
