html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************/

body { background:  #3f3e3a; overflow: hidden; font-size: 0.8em; font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a       { color: #A50B00; }
h1	 { font-size: 24px; color: #fafafa; text-shadow: 1px 1px #777777, -1px -1px #000000; }
h2	 { font-size: 20px; color: #3f3e3a; text-shadow:#fff 0px 1px 0, #000 0 -1px 0; margin-bottom: 10px;}
h3	 { font-size: 18px; color: #f888; }

#map {
  cursor:crosshair;
  background:#c0c19f;
  position:absolute;
  border-top: 1px solid #888;
  top:50px;
  right:0;
  left:0;
  bottom:50px;
}

#minimap-canvas {
  background: rgb(237,237,237);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,0.4) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  position:absolute;
  bottom: 10px;
  right:10px;
  z-index:9998;
  width: 240px;
  height: 180px;
  border: 1px solid #afafaf;
  padding: 10px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  visibility: hidden;
  display: none;
}

#minimap {
  background:#c0c19f;
  width: 240px;
  height: 180px;
  border: 1px solid #afafaf;
  -webkit-border-radius:3px;
  border-radius: 3px;
}

#masthead {
  position:absolute;
  top:0px;
  right:0;
  left:0;
  height: 50px;
  line-height: 50px;
  padding-left:10px;
  background:#3f3e3a;
  border-bottom:1px solid #000;
}

#map-provider-selector {
  position:absolute;
  top:0px;
  right:0;
  left:0;
  height: 50px;
  line-height: 50px;
  padding-left:10px;
  background:#3f3e3a;
}


#featureBox {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,0.4)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.4) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  position:absolute;
  top:10px;
  right:10px;
  z-index:999;
  text-align: center;
  border: 1px solid #afafaf;
  padding: 10px;
  width:240px;
  -webkit-border-radius:5px;
  border-radius: 5px;
}


.featureBoxItem { //set from backbone
  list-style-type: none;
  text-align: left;
  border:1px solid #bbb;
  margin-top: 10px;
  z-index: 999999;
background: rgb(244,241,235);
background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,1)), color-stop(47%,rgba(232,229,222,1)), color-stop(100%,rgba(221,218,208,1)));
background: -webkit-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  -webkit-border-radius:3px;
  border-radius: 3px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   cursor: pointer;
}

.featureBoxItem h3 {
height: 30px; line-height: 38px; padding-left: 45px;
color:#41403d;
text-shadow: 0px -1px #000, 0px 1px #fff;
border: 0px solid red;
}

.featureBoxItem-description {
font-size: 12px;
height: 14px; width: 230px; text-align: left; padding-left: 46px;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-details {
height: 40px; width: 230px; text-align: right;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-distance {
float: left;
font-size: 10px;
padding-left: 12px;
text-align: center;
}

.featureBoxItem-position {
float: right;
font-size: 10px;
padding-top: 7px;
padding-right: 5px;
clear: after;
}

.clear-after {
clear: after;
}

#info {
color: #fafafa;
}


.markerfix {
margin-top: -35px;
margin-left: -16px;
}


.black-shield-0 { background: transparent url(../icons/black-shield-0.png) no-repeat 5px -2px; }
.black-shield-1 { background: transparent url(../icons/black-shield-1.png) no-repeat 5px -2px; }
.black-shield-2 { background: transparent url(../icons/black-shield-2.png) no-repeat 5px -2px; }


