<h2>Remote Storage Plugin</h2>
<h3>Status: {{state}}</h3>
<div class="uiWidgetActions">
{{#showForm}}
<form id="connect-form">
 <p>Please enter your user address and click connect. Read more about remotestorage on <a href="http://remotestorage.io/" target="_new">remotestorage.io</a>.</p>
 <div class="uiOption">
  <label>User address</label>
  <input type="email" name="userAddress" placeholder="useraddress@example.net"/><input type="submit" value="Connect" />
 </div>
</form>
{{/showForm}}


{{#showDisconnect}}
<p>Available Actions:</p>
<div class="uiOption">
 {{#showSync}}
  <button class="first" data-command="sync">Sync</button>
 {{/showSync}}
 <button class="last" data-command="disconnect">Disconnect</button>
</div>
{{/showDisconnect}}
</div>
