html, body, div, span, applet, object, iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,input,select,
textarea,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  background: transparent;
}

ol,ul,
.item-list ul,
.item-list ul li {
  list-style:none;
}

blockquote,
q { quotes:none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

:focus { outline:0px; }

ins { text-decoration:none; }
del { text-decoration:line-through; }

table {
  border-collapse:collapse;
  border-spacing:0px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


input[type="search"] {
  outline: none;
  line-height: 28px;
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
  font: 16px arial,sans-serif;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/********************************************************/

html { overflow: hidden; }
body { color: #282828; background:  #3f3e3a; background-image: url(../images/panel_bg.png); font-size: 0.8em; font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
a       { color: #A50B00; }
h1	 { font-size: 24px; color: #fafafa; text-shadow: 1px 1px #777777, -1px -1px #000000; }
h2	 { font-size: 20px; color: #3f3e3a; text-shadow:#fff 0px 1px 0, #000 0 -1px 0; margin-bottom: 10px;}
h3	 { font-size: 18px; }

#map {
  cursor:crosshair;
  background:#c0c19f;
  position: absolute;
  border-top: 1px solid #888;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


/*
 * This tries to render the map a bit smoother on lo end devices
 * Still work in progress...
 */
.map-tile {
  opacity:0.6;
}

.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.15s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

#miniMapCanvas {
  background: rgb(237,237,237);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,0.4) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
  position:absolute;
  bottom: 10px;
  right:10px;
  z-index:9998;
  width: 240px;
  height: 180px;
  border: 1px solid #afafaf;
  padding: 10px;
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -webkit-border-radius:5px;
  border-radius: 5px;
}

#minimap {
  background:#c0c19f;
  width: 240px;
  height: 180px;
  border: 1px solid #afafaf;
  -webkit-border-radius:3px;
  border-radius: 3px;
}

#map-provider-selector {
  position:absolute;
  top:0px;
  right:0;
  left:0;
  height: 50px;
  line-height: 50px;
  padding-left:10px;
  background:#3f3e3a;
}

#featureBox {
  position:absolute;
  top:60px;
  right:10px;
  z-index:999;
  text-align: center;
  border: 1px solid #afafaf;
  padding: 10px;
  padding-top: 0;
  width:240px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,0.4)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.4) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -webkit-border-radius:5px;
  border-radius: 5px;
}

.featureBoxItem {
  list-style-type: none;
  text-align: left;
  border:1px solid #bbb;
  margin-top: 10px;
  z-index: 999999;
  cursor: pointer;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,1)), color-stop(47%,rgba(232,229,222,1)), color-stop(100%,rgba(221,218,208,1)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  -webkit-border-radius:3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.featureBoxItem h3 {
  height: 30px; line-height: 38px; padding-left: 45px;
  color:#41403d;
  text-shadow: 0px -1px #000, 0px 1px #fff;
  border: 0px solid red;
}

.featureBoxItem-icon {
  background-repeat: no-repeat;
  background-position: 5px -2px;
}

.featureBoxItem-description {
  font-size: 12px;
  height: 14px; width: 230px; text-align: left; padding-left: 46px;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-details {
  height: 40px; width: 230px; text-align: right;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-distance {
  float: left;
  font-size: 10px;
  padding-left: 12px;
  text-align: center;
}

.featureBoxItem-position {
  float: right;
  font-size: 10px;
  padding-top: 7px;
  padding-right: 5px;
}

.clear-after {
  clear: both;
}

#info {
  color: #fafafa;
}

.markerimage {
  position: absolute;
  cursor: pointer;
  margin-top: -32px;
  margin-left: -16px;
  z-index: 9999;
}

.black-shield-0 { background-image: url(../icons/black-shield-0.png) }
.black-shield-1 { background-image: url(../icons/black-shield-1.png) }
.black-shield-2 { background-image: url(../icons/black-shield-2.png) }
