.uiPanel {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 47px;
  text-align: center;
}

.uiButton {
  cursor: pointer;
  border: 1px solid #999;
  border-top: 1px solid #eee;
  border-right: 1px solid #ddd;
  font: 12px/1.3 "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
  text-shadow: 1px 1px 0px #e0e0e0;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
}

.uiDisplay {
  color: #e8e5de;
  font-size: 10px;
  border: 1px solid #000;
  cursor: default;
  text-shadow: 1px 1px 5px #000;
  background: #282828;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.65) 0%,rgba(40,40,40,0.3) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.uiModal {
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 49px;
  right: 241px;
  z-index:999;
  opacity: 0;
  display: none;
  overflow: hidden;
  border-right: 1px solid #ccc;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,0.8)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.uiModal h1 {
  text-align: left;
  padding-left: 10px;
  width: 100%;
  background: #ccc;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  height: 48px;
  border-bottom: 1px solid #000;
  background:  #3f3e3a;
  background-image: url(../images/panel_bg.png);
  color: #e8e5de;
  text-shadow: 1px 1px 5px #000;
}

.uiContext {
  position:absolute;
  z-index:999;
  opacity: 0;
  display: none;
  width:140px;
  text-align: left;
  border: 1px solid #777;
  overflow: hidden;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,0.8)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  -moz-box-shadow: 2px 2px 5px #444;
  -webkit-box-shadow: 0 0 5px#444;
}


.baffle {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 47px;
  opacity: 0.9;
  background: #3f3e3a url(../images/panel_bg.png) repeat-x;
}

#topBaffle {
  top: 0;
  border-bottom: 1px solid #000;
}

#bottomBaffle {
  bottom: 0;
  border-top: 1px solid #000;
}

.menuItem {
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  padding-left: 9px;
  text-shadow: 1px 1px 0px #e0e0e0;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
}

.menuItem:hover, .menuItem:active {
  color: #e8e5de;
  text-shadow: 1px 1px 0px #000;
  border-top: 1px solid #3f3e3a;
  border-bottom: 1px solid #000;
  background: #3f3e3a;
  background: -moz-linear-gradient(top, #3f3e3a 0%, #5e5d59 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3e3a), color-stop(100%,#5e5d59));
  background: -webkit-linear-gradient(top, #3f3e3a 0%,#5e5d59 100%);
  background: -o-linear-gradient(top, #3f3e3a 0%,#5e5d59 100%);
  background: -ms-linear-gradient(top, #3f3e3a 0%,#5e5d59 100%);
  background: linear-gradient(to bottom, #3f3e3a 0%,#5e5d59 100%);
}

.lowAccuracy {
  background: rgb(109,0,25);
  background: -moz-linear-gradient(top, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1)));
  background: -webkit-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
  background: -o-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
  background: -ms-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
  background: linear-gradient(to bottom, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
}

.medAccuracy {
  background: rgb(199,152,16);
  background: -moz-linear-gradient(top, rgba(199,152,16,1) 0%, rgba(234,185,45,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,152,16,1)), color-stop(100%,rgba(234,185,45,1)));
  background: -webkit-linear-gradient(top, rgba(199,152,16,1) 0%,rgba(234,185,45,1) 100%);
  background: -o-linear-gradient(top, rgba(199,152,16,1) 0%,rgba(234,185,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(199,152,16,1) 0%,rgba(234,185,45,1) 100%);
  background: linear-gradient(to bottom, rgba(199,152,16,1) 0%,rgba(234,185,45,1) 100%);
}

.highAccuracy {
  background: rgb(31,59,8);
  background: -moz-linear-gradient(top, rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,59,8,1)), color-stop(100%,rgba(98,125,77,1)));
  background: -webkit-linear-gradient(top, rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%);
  background: -o-linear-gradient(top, rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%);
  background: -ms-linear-gradient(top, rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%);
  background: linear-gradient(to bottom, rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%);
}






/*Define Accordion box*/
.accordion { width: 100%; overflow:hidden; }

/*Set style of open slide*/
.accordion section.active {
  border-top: 1px solid #777; border-bottom: 1px solid #000;
  background:  #3f3e3a;
  background-image: url(../images/panel_bg.png);

}

.accordion section.active:hover {
  background:  #3f3e3a;
  background-image: url(../images/panel_bg.png);
}
.accordion section.active h2 { width:100%; }
.accordion section.active h2 a{ color: #DBD6CF;   text-shadow: 1px 1px 0px #000;  }
.accordion section.active h2 a:hover { color: #DBD6CF;   text-shadow: 1px 1px 0px #000;  }
.accordion section.active p {display:block; padding-left: 10px; color: #DBD6CF; text-shadow: 1px 1px 0px #000; font-size: 12px;}
.accordion section h2 a {line-height: 48px; display: block; font-size:16px; color: #333; text-decoration:none; }

/*set style of closed slide*/
.accordion section{
  float: left;
  height: 48px;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  text-shadow: 1px 1px 0px #e0e0e0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #777;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
}

.accordion section:hover { background: #3f3e3a;  border-top: 1px solid #999; border-bottom: 1px solid #777;}
.accordion section h2 a:hover { color: #DBD6CF; }
.accordion section p { display:none; }

.vertical section {
  width:100%;
  height:48px;
  -webkit-transition:height 0.3s ease-out;
  -moz-transition:height 0.3s ease-out;
  -o-transition:height 0.3s ease-out;
  -ms-transition:height 0.3s ease-out;
  transition:height 0.3s ease-out;
}

/*Set height of the slide*/
.vertical .active{ height: 260px; width:100%; }

.vertical section h2 {
  position:relative;
  left: 0px;
  top: 0px;
  line-height: 48px;
  padding-left: 10px;
  margin-bottom: 0;
}

.accordion .label {
  height: 32px;
  line-height: 32px;
  width: 100%;
  font-size:14px;
  padding-left: 15px;
  display: block;
}

.accordion fieldset {
  margin: 10px;
}

.accordion input[type=radio], input.radio {
  height: 16px;
  width: 16px;
  margin-top: 9px;
  margin-left: 9px;
}

.accordion input[type=text] {
  height: 32px;
  line-height: 32px;
  border: 0;
}

.accordion select {
  height: 32px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  background: transparent;
}

.accordion .uiRadio {
  float: left;
  display: block;
  height: 32px;
  width: 32px;
}

.accordion .uiOption {
  width: 100%;
  height: 32px;
  display: block;
  font-size:14px;
  margin-top: 5px;
  margin-right: 10px;
  color: #333;
  cursor: pointer;
  text-shadow: 1px 1px 0px #e0e0e0;
  border-bottom: 1px solid #555;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*********************************************************
 *  Status Panel
 *********************************************************/

#statusPanel {
  top: 0px;
  left: 7px;
  height: 48px;
  overflow: hidden;
}

#statusPanel div {
  position: relative;
  top: 6px;
  height: 32px;
  line-height: 30px;
  cursor: default;
  float: left;
  text-align: center;
}

#statusPanel .displayTop, #statusPanel .displayBottom {
  text-align: left;
  line-height: 13px;
  display: block;
  margin-top: 2px;
  margin-left: 6px;
}

#geoStatus {
  width: 30px;
  font-size: 25px;
  height: 32px;
  line-height: 30px;
}

#userGeoLocation {
  height: 32px;
  width: 90px;
  font-weight: bold;
  border-left: 1px solid #444;
  border-right: 1px solid #000;
}

#userGeoInfo {
  width: 60px;
  font-weight: bold;
  border-left: 1px solid #444;
}

#userGeoLocAcc {
  height: 32px;
  line-height: 32px;
  width: 50px;
  font-weight: bold;
  border-left: 1px solid #444;
  text-shadow: 1px 1px 2px #000;
}

#mapCenterInfo {
  width: 30px;
  font-size: 25px;
  height: 32px;
  line-height: 32px;
}
#coordsMapCenter {
  height: 32px;
  width: 90px;
  font-weight: bold;
  border-left: 1px solid #444;
  border-right: 1px solid #000;
}

/*********************************************************
 *  Control Panel
 *********************************************************/

#controlPanel {
  bottom: 0px;
  overflow: hidden;
  z-index: 10001;
}

#controlPanel div {
  height: 46px;
  line-height: 46px;
  text-align: center;
}

#toggleFullscreen {
  float: right;
  width: 47px;
  font-size: 25px;
}

#toggleMiniMap {
  float: right;
  width: 47px;
}

#userMode {
  float: right;
  width: 47px;
  font-size: 25px;
}

#userOptions {
  float: right;
  width: 47px;
  font-size: 25px;
}

#toggleFeatureBox {
  float: right;
  width: 47px;
  font-size: 21px;
}


/**
 * Overlay Manager
 */

#featureBox {
  position:absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: 9999;
  text-align: center;
  width: 245px;
}

#featureBox .featureBoxTabs {
  display: block;
  height: 48px;
  width: 100%;
}

#featureBox .featureTab {
  height: 100%;
  width: 244px;
  margin-left: 0px;
  border-left: 1px solid #999;
}

#featureBox .featureBoxTabs .tab {
  opacity: 0.8;
  cursor: default;
  float: left;
  width: 37px;
  height: 35px;
  overflow: hidden;
  margin-top: 11px;
  margin-left: 5px;
  background: rgb(244,241,235);
  background-repeat: no-repeat;
  background-position: 2px -1px;
  border-left: 1px solid #eee;
  border-right: 1px solid #999;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #999;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#featureBox .featureBoxTabs .active {
  opacity: 1;
  background: #ccc;
  background-position: 2px -1px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ccc;
}

#featureBox .overlayOptions {
  width: 100%;
  height: 63px;
  line-height: 32px;
  background: #ccc;
  border-bottom: 1px solid #999;
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 35%, #f9f7f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#cccccc), color-stop(100%,#f9f7f4));
  background: -webkit-linear-gradient(top, #cccccc 35%,#f9f7f4 100%);
  background: -o-linear-gradient(top, #cccccc 35%,#f9f7f4 100%);
  background: -ms-linear-gradient(top, #cccccc 35%,#f9f7f4 100%);
  background: linear-gradient(to bottom, #cccccc 35%,#f9f7f4 100%);
}

#featureBox .overlayOptions h2 {
  text-align: left;
  padding-left: 8px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin-bottom: 0;
}

#featureBox .overlayButton {
  cursor: default;
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #41403d;
  text-shadow: 1px 1px 1px #fff;
  margin-left: 9px;
  border: 1px solid #999;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,0.9)), color-stop(47%,rgba(232,229,222,0.8)), color-stop(100%,rgba(221,218,208,0.8)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,0.9) 0%,rgba(232,229,222,0.8) 47%,rgba(221,218,208,0.8) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  -moz-box-shadow: 0 0 1px #666;
  -webkit-box-shadow: 0 0 1px #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#featureBox .overlayVisibility {
  width: 60px;
}

#featureBox .overlayCheckbox {
  float: left;
  width: 18px;
  height: 24px;
}

#featureBox .overlayCheckbox input {
  margin-top: 6px;
  margin-left: 6px;
}

#featureBox .label, #featureBox .label label {
  float: left;
  width: 42px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
}

#featureBox .overlayProps {
  width: 100px;
}

#featureBox .overlayRemove {
  float: left;
  width: 40px;
}

.featureItems {
  clear: both;
  display: block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: -moz-linear-gradient(top, rgba(244,240,235,1) 0%, rgba(255,255,255,0.82) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,240,235,1)), color-stop(100%,rgba(255,255,255,0.82)));
  background: -webkit-linear-gradient(top, rgba(244,240,235,1) 0%,rgba(255,255,255,0.82) 100%);
  background: -o-linear-gradient(top, rgba(244,240,235,1) 0%,rgba(255,255,255,0.82) 100%);
  background: -ms-linear-gradient(top, rgba(244,240,235,1) 0%,rgba(255,255,255,0.82) 100%);
  background: linear-gradient(to bottom, rgba(244,240,235,1) 0%,rgba(255,255,255,0.82) 100%);
}

.featureBoxItem {
  list-style-type: none;
  text-align: left;
  z-index: 9999;
  cursor: pointer;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  background: rgb(244,241,235);
  background: -moz-linear-gradient(top, rgba(244,241,235,1) 0%, rgba(232,229,222,1) 47%, rgba(221,218,208,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,235,1)), color-stop(47%,rgba(232,229,222,1)), color-stop(100%,rgba(221,218,208,1)));
  background: -webkit-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -o-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
  background: linear-gradient(to bottom, rgba(244,241,235,1) 0%,rgba(232,229,222,1) 47%,rgba(221,218,208,1) 100%);
}

.featureBoxItem h3 {
  height: 30px; line-height: 38px; padding-left: 45px;
  color: #41403d;
  text-shadow: 0px -1px #000, 0px 1px #fff;
}

.featureBoxItem-icon {
  background-repeat: no-repeat;
  background-position: 5px -2px;
}

.featureBoxItem-description {
  font-size: 12px;
  height: 14px; width: 230px; text-align: left; padding-left: 46px;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-details {
  height: 40px; width: 230px; text-align: right;  background: transparent url(../icons/layer-item-info.png) no-repeat 5px 0px;
}

.featureBoxItem-distance {
  float: left;
  font-size: 10px;
  padding-left: 12px;
  text-align: center;
}

.featureBoxItem-position {
  float: right;
  font-size: 10px;
  padding-top: 7px;
  padding-right: 5px;
}
