.zoomer,
.map-legends,
.map-tooltip,
.map-fullscreen {
  position:absolute;
  border:1px solid #bbb;
  background:#fff;
  -webkit-border-radius:3px;
  border-radius:3px;
  }

.map-legends,
.map-tooltip {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }

.close,
.zoomer,
.map-fullscreen {
  text-indent:-999em;
  background-image:url(../images/map-controls.png);
  background-repeat:no-repeat;
  overflow:hidden;
  display: block;
  }
  .close:active,
  .zoomer:active,
  .map-fullscreen:active {
    border-color:#b0b0b0;
    background-color:#f0f0f0;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);
    }

.close {
  top:4px;
  right:4px;
  width:18px;
  height:18px;
  background-position:-6px -6px;
  }

.zoomer {
  width:28px;
  height:28px;
  top:10px;
  left:10px;
  z-index:2;
  }

.zoomin {
  background-position:-31px -1px;
  left:39px;
  -webkit-border-radius:0 3px 3px 0;
          border-radius:0 3px 3px 0;
  }

.zoomout {
  background-position:-61px -1px;
  -webkit-border-radius:3px 0 0 3px;
          border-radius:3px 0 0 3px;
  }

.zoomdisabled {
  background-color:#eee;
  }

#zoom-indicator {
position:absolute;
  width:57px;
  height:20px;
  top:88px;
  left:10px;
  z-index:20;
  line-height: 20px;
  text-align:center;
  color: #fafafa;
  font-size: 8px;
  font-family: Arial;
  border-top: 0;
  border: 1px solid #bbb;
background: rgb(125,126,125);
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 80%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  -webkit-border-radius:0 0 3px 3px;
  border-radius:0 0 5px 5px;
}


.map-fullscreen {
  width: 28px;
  height: 28px;
  background-position: -90px 0;
  position:absolute;
  top:10px;
  left:74px;
  z-index:99999;
  }

.map-fullscreen-map {
  position:fixed!important;
  width:auto!important;
  height:auto!important;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:99999999999;
  }
  .map-fullscreen-map .map-fullscreen {
    background-position: -120px 0;
    }

.map-legends {
  position:absolute;
  right:10px;
  bottom:10px;
  z-index:999999;
  }
  .map-legends .map-legend {
    padding:10px;
    }

.map-tooltip {
  z-index:999999;
  padding:10px;
  top:10px;
  right:10px;
  max-width:300px;
  opacity:1;
  -webkit-transition:opacity 150ms;
     -moz-transition:opacity 150ms;
      -ms-transition:opacity 150ms;
       -o-transition:opacity 150ms;
          transition:opacity 150ms;
  -webkit-user-select:auto;
     -moz-user-select:auto;
          user-select:auto;
  }

.map-movetip {
  position:absolute;
  z-index:999999;
  background:#fff;
  padding:10px;
  max-width:300px;
  }

.map-fade { opacity:0; }

.map-tooltip .close {
  display:block;
  position:absolute;
  top:0;
  right:0;
  }

.map-mobile-body .map-tooltip {
  position:absolute;
  top:50px;
  }

.zoombox-box,
.boxselector-box {
  margin:0;
  padding:0;
  border:1px dashed #888;
  background:rgba(255,255,255,0.25);
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  display:none;
  }

.map-point-div {
  width:10px;
  height:10px;
  margin-left:-5px;
  margin-top:-5px;
  background:#fff;
  border:1px solid #333;
  -webkit-border-radius:5px;
          border-radius:5px;
  }

.map-attribution {
  position:absolute;
  background-color:rgba(255,255,255,0.7);
  color:#333;
  font-size:11px;
  line-height:20px;
  z-index:99999;
  text-align:center;
  padding:0 5px;
  bottom:0;
  left:0;
  }

.map-attribution.map-g {
  left:65px;
  bottom:4px;
  background:transparent;
  }

.


