html, body, div, span, applet, object, iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,input,select,
textarea,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  background: transparent;
}

ol,ul,
.item-list ul,
.item-list ul li {
  list-style:none;
}

blockquote,
q { quotes:none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

:focus { outline:0px; }

ins { text-decoration:none; }
del { text-decoration:line-through; }

table {
  border-collapse:collapse;
  border-spacing:0px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


input[type="search"] {
  outline: none;
  line-height: 28px;
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
  font: 16px arial,sans-serif;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/********************************************************/

html { overflow: hidden; }
body { color: #282828; overflow: hidden; background:  #3f3e3a; background-image: url(../images/panel_bg.png); font-size: 0.8em; font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
a       { color: #A50B00; }
h1	 { font-size: 24px; color: #fafafa; text-shadow: 1px 1px #777777, -1px -1px #000000; }
h2	 { font-size: 20px; color: #3f3e3a; text-shadow:#fff 0px 1px 0, #000 0 -1px 0; margin-bottom: 10px;}
h3	 { font-size: 18px; }


#splash {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: crosshair;
  background:  #3f3e3a;
  background-image: url(../images/panel_bg.png);
  z-index: 999999;
  text-align: center;
}

#splash h1 {
  width: 115px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.98);
  letter-spacing: -1px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/* ---- FADE ANIMATIONS ------ */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


#splash p {
  width: 116px;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #3f3e3a;
  font-size: 14px;
  line-height: 25px;
  margin-top: -5px;
  margin-left: -100px;
  background-color: #e8e5de;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}

#splash .loader {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: crosshair;
  background: #c0c19f;
  border-top: 1px solid #888;
}


/*
 * This tries to render the map a bit smoother on lo end devices
 * Still work in progress...
 */
.map-tile {
  opacity:0.6;
}

.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.15s;
}

#miniMap {
  position:absolute;
  bottom: 47px;
  right: 0px;
  width: 244px;
  height: 178px;
  background: #c0c19f;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  z-index: 99999;
}

#mmViewport {
  position:absolute;
  background: rgba(255,255,255,0.45);
  border: 1px solid #666;
  z-index: 9999999;
  /* FIXME: this does not work because it breaks the box model.
   * it would be nice to have the viewport transparent and
   * the rest of the minimap shaded.
   *
   * border: 500px solid rgba(128,128,128,0.4);
   **/
}

#sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 48px;
  width: 245px;
  overflow: hidden;
  display: block;
  z-index: 99998;
}

#map-provider-selector {
  position:absolute;
  top:0px;
  right:0;
  left:0;
  height: 50px;
  line-height: 50px;
  padding-left:10px;
  background:#3f3e3a;
}

.clear-after {
  clear: both;
}

#info {
  color: #fafafa;
}

.markerimage {
  position: absolute;
  cursor: pointer;
  margin-top: -32px;
  margin-left: -16px;

  width: 32px;
  height: 33px;
  z-index: 9999;
}

.black-shield-0 { background-image: url(../icons/black-shield-0.png) }
.black-shield-1 { background-image: url(../icons/black-shield-1.png) }
.black-shield-2 { background-image: url(../icons/black-shield-2.png) }

/*
 *  Icons: Black Shield
 */
.shield-0 {
  background-repeat: no-repeat;
  background-image: url(../icons/shield-black.png);
  background-position: 2px 3px;
}

.shield-1 {
  background-repeat: no-repeat;
  background-image: url(../icons/shield-red.png);
  background-position: 2px 3px;
}

.shield-2 {
  background-repeat: no-repeat;
  background-image: url(../icons/shield-blue.png);
  background-position: 2px 3px;
}

.shield-3 {
  background-repeat: no-repeat;
  background-image: url(../icons/shield-green.png);
  background-position: 2px 3px;
}

.shield-o-0 { background-position: 2px -36px;   }
.shield-o-1 { background-position: 2px -71px;   }
.shield-o-2 { background-position: 2px -106px; }
.shield-o-3 { background-position: 2px -141px; }
.shield-o-4 { background-position: 2px -176px; }
.shield-o-5 { background-position: 2px -211px; }
.shield-o-6 { background-position: 2px -246px; }
.shield-o-7 { background-position: 2px -281px; }
.shield-o-8 { background-position: 2px -316px; }
.shield-o-9 { background-position: 2px -351px; }
.shield-o-10 { background-position: 2px -386px; }
.shield-o-11 { background-position: 2px -421px; }
.shield-o-12 { background-position: 2px -456px; }
.shield-o-13 { background-position: 2px -491px; }
.shield-o-14 { background-position: 2px -526px; }
.shield-o-15 { background-position: 2px -561px; }
.shield-o-16 { background-position: 2px -596px; }
.shield-o-17 { background-position: 2px -631px; }
.shield-o-18 { background-position: 2px -666px; }
.shield-o-19 { background-position: 2px -701px; }
.shield-o-20 { background-position: 2px -736px; }
.shield-o-21 { background-position: 2px -771px; }
.shield-o-22 { background-position: 2px -806px; }
.shield-o-23 { background-position: 2px -841px; }
.shield-o-24 { background-position: 2px -911px; }
.shield-o-25 { background-position: 2px -946px; }
.shield-o-26 { background-position: 2px -981px; }

