<h1>Add Feature</h1>
<p>
  <label>At Position: <span data-format="position"></span></label>
</p>

<div>
  <label for="properties.title">
    Title:
    <input type="text" name="properties.title">
  </label>
</div>

<div>
  <label for="properties.description">
    Description: <br/>
    <textarea name="properties.description"></textarea>
  </label>
</div>

<div>
  <button data-command="create">Create</button>
  <button data-command="cancel">Cancel</button>
</div>
