<div class="menuItem" data-command="recenter-here">Recenter Map</div>
<div class="menuItem" data-command="add-feature">Add Feature</div>
<div class="menuItem" data-command="where-am-i">Where am I?</div>
<div class="menuItem" data-command="set-my-location">Set my Location</div>
