<div class="featureBoxTabs">
  {{#tabs}}
  <div class="tab shield-{{index}}" data-tab="{{index}}" alt='{{feed.title}}'>{{index}}</div>
  {{/tabs}}
  <div class="tab add" id='addOverlay'>+</div>
</div>

{{#empty}}
<div class="featureTab">
  <div class="overlayOptions">
    <h2>FeatureBox is empty.</h2>
    <p>TODO: Display something useful here!</p>
  </div>
</div>
{{/empty}}
