<h1>FIXME: $overlayName: {{feature.properties.title}}</h1>
<div class="featureLocation">
 <div>FIXME: Position</div>
 <div>FIXME: Sector</div>
 <div>Feature: Distance to Feature / ETA in current travel mode</div>
</div>
<div class="modalContainer featureDetails">
 <div id="featureDetailsMap">
  FIXME: Insert a map here with a fairly high zoomlevel (15-18),
  centered on the location of the current feature.
 </div>
 <div class='featureProperties'>
  {{#keyValue feature.properties}}
  <p>
   <span class='key'>{{key}}</span>
   <span class='value'>{{value}}</span>
  </p>
  {{/keyValue}}
 </div>
 <div class="uiOption" style="clear: both">
  <button class="first" data-command="featureLike">Like</button>
  <button data-command="featureDislike">Dislike</button>
  <button data-command="featureEdit">Edit</button>
  <button class="last" data-command="disconnect">Start Navigation</button>
 </div>
 <div class="uiOption" style="clear: both">
  <button class="first" data-command="featureLike"> << Show previous feature in collection</button>
  <button class="last" data-command="disconnect">Show next feature in collection >></button>
 </div>
</div>
