<div class="menuItem" data-command="recenter-here">Recenter Map</div>
<div class="menuItem" data-command="add-pin">Add Pin</div>
<div class="menuItem" data-command="add-feature">Add Feature</div>
<div class="menuItem" data-command="where-am-i">Where am I?</div>
