<!-- FIXME: show available FeatureCollections here -->
<h1>Overlay Manager</h1>
<div id="geoBar">
 <input type="search" name="query" id="geobarQuery" placeholder="Search..." x-webkit-speech=""/><input type="submit" value="Go" />
</div>
<div id="overlayManagerContent" class="modalContainer">
 <div id="geoBarQueryResults">
  FIXME: This would be a good place to put geoBar Query Results into. It should be hidden, when no queries were submitted
 </div>
 <div id="overlayBrowser">
  <h2>Browse through available Overlays</h2>
  <div id="overlaySections"></div>
 </div>
</div>
