   <!-- FIXME: show available FeatureCollections here -->
   <h2>Please select an Overlay</h2>
   <div class='modalContainer'>
   This is a placeholder for a list of available FeatureCollections, that will be loaded into
   the FeatureBox, when selected by the user.
   <ul>
    <li>Overlay Title</li>
    <li>Overlay Title 2</li>
   </ul>
   </div>
<button class='modalClose' data-command="close">Close</button>
