<h3>{{name}}</h3>
{{#writable}}
<form class="new-collection">
  <div class="uiOption">
    <input type="text" name="name" placeholder="New Collection...">
    <input type="submit" value="Create">
  </div>
</form>
{{/writable}}
<h4>Collections:</h4>
<div class="collections"></div>
