<div id='userGeoStatus' class='uiDisplay'></div>
<div id='userGeoData' >
  <div id='userGeoLocation' class='userGeoDisplay' data-name='user-location' data-format='position'>Geolocation not available</div>
  <div id='userGeoInfo'>
    <div id='userGeoSpeed' class='userGeoDisplay' data-name='user-speed'>kmh</div>
    <div id='userGeoAlt' class='userGeoDisplay' data-name='user-altitude'>--- m</div>
    <div id='userGeoLocAcc' class='userGeoDisplay' data-name='user-accuracy'>--- m</div>
  </div>
</div>
<div id='mapCenterInfo' class='uiDisplay'>+</div>
<div id='coordsMapCenter' class='uiDisplay' data-name='map-center' data-format='position'></div>
