<div id='geoStatus' class='uiDisplay'>⊙</div>
<div id='userGeoLocation' class='uiDisplay' data-name="user-location" data-format="position"></div>
<div id='userGeoInfo' class='uiDisplay'><span class='displayTop' data-name="user-speed"></span><span class='displayBottom' data-name='user-altitude'></span></div>
<div id='userGeoLocAcc' class='uiDisplay {{setAccBg user.feed.position.coords.accuracy}}' data-name="user-accuracy"></div>
<div id='mapCenterInfo' class=uiDisplay>+</div>
<div id='coordsMapCenter' class='uiDisplay' data-name="map-center" data-format="position"></div>
