<h1>User Options</h2>
 <div class='accordion vertical'>
  <section id='userCoordPrefs'>
   <h2><a>✩&nbsp; Preferred Coordinate Presentation</a></h2>
   <p>
     Please select your desired presentation of Coordinates:
     <fieldset>
       <div class='uiOption'>
         <div class='uiRadio'>
           <input type='radio' name='userCoordPrefs' id='ucp_1' value='GPS'>
         </div>
         <div class='label'>
           <label for='ucp_1'> GPS (N 48° 11.123')
           </label>
         </div>
       </div>
        <div class='uiOption'>
         <div class='uiRadio'>
           <input type='radio' name='userCoordPrefs' id='ucp_2' value='DMS'>
         </div>
         <div class='label'>
           <label for='ucp_2'> DMS (N 48° 11' 451"<!-- " -->)
           </label>
         </div>
       </div>
       <div class='uiOption'>
         <div class='uiRadio'>
           <input type='radio' name='userCoordPrefs' id='ucp_3' value='DEC'>
         </div>
         <div class='label'>
           <label for='ucp_3'> DEC (Lat 48.11212)</label>
         </div>
       </div>
     </fieldset>
   </p>
  </section>
  <section id='userMapPrefs'>
    <h2><a>✩&nbsp; Map Preferences</a></h2>
   <p>
   Select a Map-Provider or add a new one
   <fieldset>
    <div class='uiOption'>
      <select id="mapProvider" name="mapProvider">
       <option value="osm">OSM</option>
       <option value="dspace">DSpace-Munich</option>
       <option value="osmTransport">OSM Transport</option>
      </select>
    </div>
    <div class='uiOption'>
      &nbsp; Name: <input type='text' id='addMapProviderName' name='addMapProviderName'>
      URL: <input type='text' id='addMapProviderURL' name='addMapProviderURL'>
    </div>
    </fieldset>
   </p>
   <p>
   Choose how the map should behave on geolocation change
   <fieldset>
      <div class='uiOption'> <div class='uiRadio'><input type='radio' name='userMapPrefs' id='ump_1' value='1' checked></div><div class='label'><label for='ump_1'>Move Marker when changing location</label></div></div>
     <div class='uiOption'><div class='uiRadio'><input type='radio' name='userMapPrefs' id='ump_2' value='2'></div><div class='label'><label for='ump_2'>Move Map when changing location (keep marker in center)</label></div></div>
   </fieldset>
   </p>
  </section>
  <section id='userGpsPrefs'>
   <h2><a>✩&nbsp; GPS Preferences</a></h2>
   <p>
   Please select options for the GPS/Geolocation:
   <fieldset>
    <div class='uiOption'><div class='uiRadio'><input type='radio' name='userGpsPrefs' id='ugp_1' value='1' checked></div><div class='label'><label for='ugp_1'>High Accuracy (Consumes more power)</label></div></div>
    <div class='uiOption'><div class='uiRadio'><input type='radio' name='userGpsPrefs' id='ugp_2' value='2'></div><div class='label'><label for='ugp_2'>Standard Accuracy (Poor man's client)</label></div></div>
   </fieldset>
   </p>
  </section>

  <section id='userMiscPrefs'>
   <h2><a>✩&nbsp; Various Preferences</a></h2>
   <label>
     <input type="checkbox" name="remoteStorage">
     Enable remoteStorage integration (experimental);
   </label>
  </section>

 </div>

